.nav {
    position: relative;
    display: flex;
    align-items: center;

    &__logo {
        width: 55px;
        margin-right: 20px;
    }

    &__links {
        list-style: none;
        display: flex;
    }

    &__link {
        text-decoration: none;
        color: $text-color;
    }

    &__item {
        padding-right:12.5px;

        &:last-of-type {
            padding-right: 0;
        }

        &>a {
            font-size: 15px;
            font-weight: 300;
        }
    }
}


.navbar {
    width: 100%;
    height: 55px;
    padding: 0 65px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    background: $white;
    box-shadow: 0 0 8px grey;
    z-index: 9;

    &__wrapper {
        max-width: 1700px;
        width: 100%;
        display: flex;
        align-items: center;
        }

    &__contact {
        width: 250px;
        margin-left: auto;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    &__links {
        &-active {
            display: flex !important;
            position: absolute;
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;
            top: 100px;
            left: 0;

            text-align: center;
            background: $white;
        }
    }

    &__contact {
        &-active {
            display: flex !important;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            text-align: center;
            flex-direction: column-reverse;

            background: $white;
        }
    }
}

.burger {
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.burger-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: $text-color;
}

.burger-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: $text-color;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.burger-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: $text-color;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.burger-icon.burger-icon-active {
    background-color: transparent;
}

.burger-icon.burger-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.burger-icon.burger-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    overflow-y: auto;
    text-align: center;
    transition: transform .6s ease-in;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
    
    &__list {
        list-style: none;

        & li {
            margin: 25px 0;
        }

        & li a {
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
            color: $text-color;
        }
    }

    & .button-item {
        margin: 20px 0 10px;
    }

    &--active {
        display: flex;
        height: 100vh;
        transform: translateY(0%);
    }
}

// @media (min-width: 2560px) {
//     .navbar {
//         justify-content: space-evenly!important;
//     }
// }

@media (min-width: 1920px) {
    .navbar {
        padding: 0 50px;
        justify-content:  space-evenly;
    }
}


@media (max-width: 1200px) {
    .nav {
        &__logo {
            width: 55px;
        }

        &__links {
            margin: 0 -8px;
        }

        &__item {
            padding: 0 8px;

            &>a {
                font-size: 13px;
            }
        }
    }

    .navbar {
        padding: 0 40px;
        height: 45px;

        &__contact {
            width: 210px;

            &--uz {
                width: 220px;
            }
        }
    }
}

@media (max-width: 992px) {
    .navbar {
        &__links {
            margin: 0;
            display: none;

            &-active {
                top: 110px;
            }
        }

        &__item {
            padding: 14px 0 15px;
        }

        &__contact {
            display: none;
            width: 100%;

            &-active {
                top: 40px;
                padding-bottom: 20px;
            }
        }
    }

    .burger {
        display: flex;

        &-icon,
        &-icon:before,
        &-icon:after {
            height: 4px;    
        }
    }

}

@media (max-height: 450px) and (orientation: landscape) {
    .mobile-nav {
        padding-top: 120px;
    }
}

@media (max-width: 768px) {
    .nav {
        &__logo {
            width: 45px;
        }

        &__item {
            padding: 12px 8px 15px;

            &>a {
                font-weight: bold;
                font-size: 14px;
            }
        }
    }

    .navbar {
        height: 50px;

        &__contact {
            &-active {
                padding-top: 20px;
                top: 30px;
            }
        }

        &__links {
            overflow: scroll;

            &-active {
                padding-top: 10px;
            }
        }
    }
}

@media (max-width: 568px) {
    .nav {
        &__logo {
            width: 30px;
        }

        &__item {
            &>a {
                font-size: 11px;
            }
        }
    }

    .navbar {
        height: 30px;
        padding: 0 25px;
    }

    .burger {
        &-icon,
        &-icon:before,
        &-icon:after {
            width: 25px;
            height: 3px;    
        }

        &-icon:before {
            top: -7px;
        }

        &-icon:after {
            top: 7px;
        }
    }
}